.bg-cp-primary-red {
  background-color: #db291d;
  color: white; }

.bg-cp-primary-green-1 {
  background-color: #046a38; }

.bg-cp-primary-green-2 {
  background-color: #188a56; }

.bg-cp-primary-black {
  background-color: black; }

.bg-cp-primary-white {
  background-color: white; }

.bg-cp-secondary-blue {
  background-color: #25408f; }

.bg-cp-secondary-green {
  background-color: #6cb545; }

.bg-cp-secondary-yellow {
  background-color: #fec00f; }

.text-cp-primary-red {
  color: #db291d; }

.text-cp-primary-green-1 {
  color: #046a38; }

.text-cp-primary-green-2 {
  color: #188a56; }

.text-cp-primary-black {
  color: black; }

.text-cp-primary-white {
  color: white; }

.text-cp-secondary-blue {
  color: #25408f; }

.text-cp-secondary-green {
  color: #6cb545; }

.text-cp-secondary-yellow {
  color: #fec00f; }

*:not(.no-animate) {
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s; }

body, html {
  font-size: 12px;
  font-weight: 400; }

hr {
  border-top: 1px solid black; }

main a {
  color: inherit;
  text-decoration: underline; }

input[type=radio], input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle; }

.custom-select {
  border-color: black; }

.input-group-text {
  background-color: white;
  color: black;
  border-color: black; }

.custom-control-label:before {
  border-color: black; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #db291d;
  border-color: #db291d;
  -moz-box-shadow: 0 0 0.2rem rgba(219, 41, 29, 0.5);
  -webkit-box-shadow: 0 0 0.2rem rgba(219, 41, 29, 0.5);
  box-shadow: 0 0 0.2rem rgba(219, 41, 29, 0.5); }

.img-photo {
  padding: .5rem;
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: 0 0 1rem 0.1rem #cbcbcb, 0 2rem 1rem -2rem black;
  -moz-box-shadow: 0 0 1rem 0.1rem #cbcbcb, 0 2rem 1rem -2rem black;
  box-shadow: 0 0 1rem 0.1rem #cbcbcb, 0 2rem 1rem -2rem black; }

.btn-cp {
  background-color: white;
  border: 1px solid black;
  font-weight: 600; }

a.btn-cp {
  text-decoration: none; }

.border-top, .border-bottom, .border-left, .border-right, .border {
  border-color: black !important; }

.form-control {
  border-color: black; }

body {
  padding-top: 8rem; }

header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  margin: 0;
  padding: .5rem;
  font-size: 1.2rem;
  color: black; }
  header .btn-shopping-cart {
    background-color: #cbcbcb;
    color: black;
    font-weight: inherit;
    font-size: inherit;
    position: relative; }
  header .shopping-cart-count {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background-color: #046a38;
    color: white;
    padding: 0 .5rem;
    border-radius: 1rem;
    font-size: .9rem; }
  header .navbar-light .navbar-nav .dropdown .dropdown-menu a.dropdown-item {
    color: black; }
  header .navbar-light .navbar-nav .nav-link {
    cursor: pointer;
    color: black;
    margin-right: 2rem; }
  header .navbar {
    align-items: flex-end; }
    header .navbar .nav-item {
      line-height: 1rem; }
      header .navbar .nav-item .dropdown-item {
        line-height: 1.5; }
  header .navbar-brand {
    margin-right: 0;
    padding: 0; }
    header .navbar-brand img {
      width: 70px;
      vertical-align: sub; }
  header .navbar-collapse {
    -webkit-align-items: flex-start;
    align-items: flex-start; }

main {
  padding: 1rem 0;
  position: relative;
  z-index: 2;
  background-color: white; }

footer {
  color: white;
  background-color: #046a38; }
  footer .cp-sub-buyline {
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
    background-color: #188a56;
    border-bottom: 2px solid white; }
  footer a {
    color: inherit; }
    footer a:hover {
      color: inherit; }
  footer .link-columns li, footer .link-columns a {
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: center; }
  footer .icon-tile {
    display: inline-block;
    line-height: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #188a56;
    text-align: center;
    border-radius: 10px;
    margin-right: .5rem; }
  footer .fa {
    margin: 0 auto; }
  footer .copyright {
    font-size: smaller;
    font-weight: 100;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-bottom: 0; }

@media (min-width: 576px) {
  body, html {
    font-size: 16px; }
  footer .link-columns li {
    text-align: left; }
  header .navbar {
    padding: 0; }
  header .navbar-brand img {
    width: 100px; } }

@media (min-width: 768px) {
  header .navbar-brand img {
    width: 120px; } }

@media (min-width: 992px) {
  header .shopping-cart-count {
    position: static;
    top: inherit;
    right: inherit;
    background-color: inherit;
    color: inherit;
    padding: .2rem;
    border-radius: inherit;
    font-size: inherit; }
  header .navbar-light .navbar-nav {
    justify-content: flex-end; } }

.w-70 {
  width: 70% !important; }

.w-60 {
  width: 60% !important; }

.w-65 {
  width: 65% !important; }

.w-20 {
  width: 20% !important; }

.w-15 {
  width: 15% !important; }

.w-16 {
  width: 16% !important; }

.cp-table {
  margin-bottom: 2rem; }
  .cp-table label {
    margin-bottom: .2rem; }
  .cp-table th, .cp-table td {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    vertical-align: middle; }
  .cp-table thead th, .cp-table tbody td, .cp-table tbody th, .cp-table .border-bottom td {
    border-bottom: 1px solid black; }
  .cp-table th {
    font-weight: 700; }
    .cp-table th img {
      display: none;
      width: 50%;
      margin: 0 auto; }
  .cp-table td img {
    height: 4rem;
    display: none;
    margin-right: 2rem; }

@media (min-width: 576px) {
  .cp-table th img {
    display: block; }
  .cp-table td img {
    display: inline; } }

.cp-cart-remove {
  border: none;
  background-color: #db291d;
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 50%;
  line-height: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  vertical-align: middle;
  letter-spacing: 0;
  margin-right: 1rem; }
  .cp-cart-remove span {
    position: relative;
    top: -.1rem; }

.card {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
  height: 100%; }
  .card .card-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    background-color: #db291d;
    color: white; }
  .card .card-body {
    text-align: center;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .card .card-body div {
      margin-bottom: auto; }
  .card a.btn-cp {
    color: #db291d;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    margin: 1rem auto; }
  .card img {
    height: 10rem; }

.carousel {
  width: 100%;
  height: 20rem; }

.carousel-inner {
  height: 100%; }

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.carousel-item img {
  visibility: hidden; }

@media (min-width: 576px) {
  .card a.btn-cp {
    width: 75%; } }

@media (min-width: 992px) {
  .card a.btn-cp {
    width: 50%; } }

.bin-tile {
  padding: 1.5rem;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .bin-tile .bin-tile-header {
    margin-left: -1rem;
    font-weight: bold; }
  .bin-tile .bin-tile-content {
    padding: 1rem .25rem 1.5rem .25rem;
    color: white;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
    .bin-tile .bin-tile-content .lead {
      font-weight: bold; }
  .bin-tile a.btn-cp {
    display: block;
    width: 100%;
    border: none; }

a.swipebox {
  text-decoration: none; }
